.header {
  background-color: #0a519e;
  background-image: linear-gradient(to top, #00326600 0, #003266 73%, #003266 98%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 130px;
  @media (max-width: ($lg-md)) {
    height: 90px;
  }
  @media (max-width: ($sm)) {
    height: 80px;
  }
  @media (max-width: ($sm2)) {
    height: 65px;
  }
  padding: 15px 20px;
  &__top {
    display: flex;
    justify-content: space-between;
    @media (min-width: ($lg-md)) {
      margin-bottom: 20px;
    }
    gap: 25px;
    align-items: center;
    @media (max-width: ($lg-md)) {
      justify-content: start;
    }
  }
  &__auth {
    display: flex;
    gap: 10px 20px;
    @media (max-width: ($lg)) {
      margin-left: auto;
    }
    @media (max-width: ($sm)) {
      margin: 0;
    }
    @media (max-width: ($sm2)) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__logo {
    min-width: 150px;
    @media (max-width: ($sm)) {
      margin-right: auto;
      min-width: auto;
    }
  }
  &__logo-full {
    width: 100%;
    display: block;
    @media (max-width: ($sm)) {
      display: none;
    }
    @media (max-width: ($sm2)) {
      display: block;
    }
  }
  &__logo-only {
    display: none;
    @media (max-width: ($sm)) {
      display: block;
    }
    @media (max-width: ($sm2)) {
      display: none;
    }
  }

  &__menu-icon {
    display: none;
    // margin-left: auto;
    @media (max-width: ($lg)) {
      display: block;
    }
    @media (max-width: ($sm2)) {
      margin-left: auto;
    }
    svg {
      width: 30px;
      height: 30px;
      color: #fff;
    }
  }
}
.actions-header {
  display: flex;
  gap: 20px;
  &__left {
    display: flex;
    gap: 20px;

    @media (max-width: ($lg-md)) {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }
  }
  &__items {
    display: flex;
    gap: 2px;
    @media (max-width: ($md)) {
      flex-direction: column;
    }
  }
  &__item {
    align-items: center;
    background-color: #054588;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    padding: 0 10px;
    height: 40px;
    gap: 10px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    @media (max-width: ($md)) {
      justify-content: center;
      width: 100%;
    }
    &_left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      @media (max-width: ($md)) {
        border-radius: 20px;
      }
    }
    &_center {
      border-radius: 0;
      @media (max-width: ($md)) {
        border-radius: 20px;
      }
    }
    &_right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @media (max-width: ($md)) {
        border-radius: 20px;
      }
    }
  }
  &__sale {
    margin: 0 auto;
  }
  &__label {
    text-transform: uppercase;
  }
}
.nav-header {
  width: 100%;
  background-color: #00316680;
  border-radius: 20px;
  overflow-y: auto;
  position: relative;
  @media (max-width: ($lg)) {
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #003266;
    width: 320px;
    padding: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    &._active {
      opacity: 1;
      visibility: visible;
      @media (min-width: ($md)) {
        top: 70px;
      }
    }
  }
  @media (max-width: ($md)) {
    height: 100vh;
    top: 0;
    right: 0;
    border-radius: 0;
  }
  &__close {
    position: absolute;
    left: 20px;
    top: 20px;
    display: block;
    @media (min-width: ($md)) {
      display: none;
    }
    .icon-cross {
      fill: #fff;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: ($lg)) {
      flex-direction: column;
    }
  }

  &__link {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.15;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s ease;
    white-space: nowrap;
  }
}
.flag {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  &_ua {
    background-image: url('https://front.cdn-mb.com/spa-static/1.4.1216/static/media/ua.2dd397cb920452449aca.svg');
  }
}

.item-actions {
  @include scroll('#263c58d2');

  position: relative;
  &__button {
    &._active-spoiler {
      .icon-simple-arrow {
        transform: rotate(-180deg);
      }
    }
  }
  &__drop-down {
    max-height: 200px;
    overflow-y: auto;
    color: #fff;
    min-width: 200px;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    width: 100%;
    top: calc(100% + 3px);
    left: 0;
    background-color: #054588;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease;
    &._active-spoiler-content {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
  }
  &__item {
    &:not(:last-child) {
      border-bottom: 2px solid #043f7e;
    }
  }
  &__var {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    background-color: #054588;
    @media (any-hover: hover) {
      &:hover {
        background-color: #093e77;
      }
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
