.slider-home {
  overflow: hidden;
  width: auto;
  border-radius: 15px;
  margin-bottom: 30px;
  height: 100%;
  @media (min-width: ($sm)) {
    height: 350px;
  }

  &__wrapper {
    display: flex;
    height: 100%;
  }
}
.slide-home {
  width: 680px;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  transition: all 0.3s ease;
  box-shadow: 10px -12px 20px 0 #00000026;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    z-index: 10;
    background-color: #09519e73;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .3s ease;
  }
  &__image {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.swiper-slide-active {
   position: relative;
   z-index: 20;
    border-radius: 15px;
    overflow: hidden;
    &::after {
      background-color: #09519e00;
    }
  }
  &.swiper-slide-next {
   position: relative;
   border-radius: 15px;
   overflow: hidden;
   z-index: 15;
  }
  &.swiper-slide-duplicate-active {
   opacity: 0;
  }
}

/*
  games slider
*/

.slider-hero {
  overflow: hidden;
  width: 100%;
  margin-bottom: 30px;
  @media (min-width: ($sm)) {
    height: 350px;
  }
  @media (min-width: ($lg)) {
    height: auto;
  }
  @include av('height', 300, 160, 629.98, 320);
  &__wrapper {
    display: flex;
    height: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      @media (max-width: ($md)) {
        width: 10px;
        height: 10px;
      }
      border: 2px solid #428cdc;
      background: transparent;
      transition: all 0.3s ease;
      &.swiper-pagination-bullet-active {
        background-color: #fff;
        border: 2px solid transparent;
      }
    }
  }
}

.slide-hero {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  position: relative;
  &__image {
    position: relative;
    z-index: 2;
  }
}
