.sort {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px 40px;
  padding: 15px 0;
  margin-bottom: 25px;
  border-bottom: 2px solid #003266;
  @media (max-width: ($md)) {
    background-color: #003266;
    margin: 0 -15px;
    padding: 7px 15px;
  }

  @media (max-width: ($md)) {
    gap: 20px;
  }
  &__container {
    display: flex;
    gap: 15px 30px;
    width: 100%;
    flex-wrap: wrap;
    @media (max-width: ($md)) {
      position: absolute;
      z-index: 5;
      background: #043e7d;
      padding: 10px;
      border-radius: 10px;
      top: 100%;
      left: 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
      &._active-spoiler-content {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &__caption {
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    &_type {
      color: #428cdc;
      @media (max-width: ($md)) {
        display: none;
      }
    }
  }
  &__base {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__filter {
    svg {
      fill: #428cdc;
    }
  }
  &__trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #003266;
    padding: 3px 7px;
    border-radius: 10px;
    color: #428cdc;
    text-transform: uppercase;
    font-weight: 500;
    gap: 10px;
    svg {
      transition: all 0.3s ease;
    }
    &._active-spoiler {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
  &__drop-down {
    padding: 20px;
    @media (max-width: ($sm2)) {
      padding: 20px 10px;
    }
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: #043e7d;
    border-radius: 13px;
    max-width: 1040px;
    overflow: hidden;
    top: calc(100% - 10px);
    transition: all 0.3s ease;
    width: 100%;
    z-index: 3;
    color: #fff;
    &._active-spoiler-content {
      opacity: 1;
      visibility: visible;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    gap: 15px 0;
    @media (max-width: ($lg)) {
      grid-template-columns: repeat(2, 50%);
    }
  }
}

.item-sort {
  overflow: hidden;
  padding: 0 15px;
  &__label {
    & > input:checked + span {
      &::before {
        background-color: #fff;
        background-image: url('https://front.cdn-mb.com/spa-static/1.4.1216/static/media/checkbox_pointer.1afb1c265bcde57989b6.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        border: 2px solid #fff;
      }
    }
  }
  &__text {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #428cdc;
      border-radius: 4px;
      color: #043e7d;
    }
  }
}
