/* Adaptive value from -- to */
@mixin av($property, $startSize, $minSize, $widthFrom: $container-max-width, $widthTo: 320) {
  $addSize: $startSize - $minSize;

  #{$property}: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$widthTo + px}) / #{($widthFrom) - ($widthTo)});

  @media (max-width: ($widthTo + px)) {
    #{$property}: $minSize + px;
  }

  @media (min-width: ($widthFrom + px)) {
    #{$property}: $startSize + px;
  }
}

// - - - - - - - [Підключення шрифтів] - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@mixin font($font-name, $file-name, $weight, $style) {
  @font-face {
    src: url('../fonts/#{$file-name}.woff2') format('woff2');
    font-family: $font-name;
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
  }
}

// - - - - - - - [Custom Scroll] - - - - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin scroll($bg) {
   * {
      scrollbar-width: thin;
      scrollbar-color: #{$bg} #dfe9eb;
    }
  
    /* Chrome, Edge and Safari */
    *::-webkit-scrollbar {
      width: 3px;
      width: 3px;
    }
    *::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: transparent;
    }
  
    *::-webkit-scrollbar-track:hover {
      background-color: transparent;
    }
  
    *::-webkit-scrollbar-track:active {
      background-color: transparent;
    }
  
    *::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background-color: #{$bg};
    }
  
    *::-webkit-scrollbar-thumb:hover {
      background-color: #{$bg};
    }
  
    *::-webkit-scrollbar-thumb:active {
      background-color: #{$bg};
    }
}