/* header-height */
$xl-header: 120px;
// $lg-header: 70px;
// $md-header: 50px;
// $sm-header: 45px;

/* break-points */
$xl: 1530px;
$lg: 1349.98px;
$lg-md: 1269.98px;
$md: 991.98px;
$sm: 575.98px;

