.sort {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 2px solid #003266;
  &__caption {
    align-items: center;
    color: #fff;
    display: inline-flex;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    &_popular {
      color: #428cdc;
    }
  }
  &__base {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__select {
  }
  &__trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #003266;
    padding: 3px 7px;
    border-radius: 10px;
    color: #428cdc;
    text-transform: uppercase;
    font-weight: 500;
    gap: 10px;
    svg {
      transition: all 0.3s ease;
    }
    &._active {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
  &__drop-down {
    padding: 20px 0;
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background: #043e7d;
    border-radius: 13px;
    box-shadow: 0 10px var(--app-base-spacing) #00060da1;
    max-width: 1040px;
    overflow: hidden;
    top: calc(100% - 10px);
    transition: all .3s ease;
    width: 100%;
    z-index: 3;
    color: #fff;
    &._visible {
      opacity: 1;
      visibility: visible;
    }
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 20%);
    gap: 15px 0;
  }
}

.item-sort {
  overflow: hidden;
  padding: 0 15px;

  &__label {
    width: calc(100% - 30px);
    & > input:checked + span {
      &::before {
        background-color: #fff;
        background-image: url('https://front.cdn-mb.com/spa-static/1.4.1216/static/media/checkbox_pointer.1afb1c265bcde57989b6.svg');
        background-position: 50%;
        background-repeat: no-repeat;
        border: 2px solid #fff;
      }
    }
  }
  &__text {
    position: relative;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    white-space: nowrap;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      border: 2px solid #428cdc;
      border-radius: 4px;
      color: #043e7d;
    }
  }
}
