.icon-apple,
.icon-geer,
.icon-android,
.icon-guard {
  fill: #428cdc;
}
.icon-present {
  fill: #fff;
}
.icon-sort,
.icon-sort-bar {
  width: 27px;
  height: 27px;
}
.icon-sort-bar {
  fill: #428cdc;
  width: 27px;
  height: 27px;
}

.icon-simple-arrow {
  fill: #fff !important ;
  width: 10px !important  ;
  height: 10px !important ;
  transition: all .3s ease;
}
