<footer class="footer">
  <div class="footer__top">
    <a href="#" class="header__logo logo">
      <img src="./img/logo.svg" alt="logo" />
    </a>
    <span class="footer__age-limit">18+</span>
  </div>
  <nav class="footer__nav">
    <ul class="footer__list">
      <li class="footer__item">
        <span class="footer__link" data-code="">про нас</span>
      </li>
      <li class="footer__item">
        <span class="footer__link" data-code="">правила</span>
      </li>
      <li class="footer__item">
        <span class="footer__link" data-code="">контакти</span>
      </li>
      <li class="footer__item">
        <span class="footer__link" data-code="">мобільна версія</span>
      </li>
      <li class="footer__item">
        <span class="footer__link" data-code="">партнерська програма</span>
      </li>
      <li class="footer__item">
        <span class="footer__link" data-code="">FAQ</span>
      </li>
    </ul>
  </nav>
  <div class="footer__bottom">
    <div class="footer__column">
      <span class="footer__label">завантажити</span>
      <span data-code="" class="icon-link">
        <svg class="icon-android">
          <use href="./sprites/sprite.svg#icon-android"></use>
        </svg>
      </span>
      <span data-code="" class="icon-link">
        <svg class="icon-apple">
          <use href="./sprites/sprite.svg#icon-apple"></use>
        </svg>
      </span>
    </div>
    <div class="footer__column footer__column_providers">
      <img class="footer__provider" src="./img/1_mastercard.svg" alt="mastercard" />
      <img class="footer__provider" src="./img/2_visa.svg" alt="visa" />
      <img class="footer__provider" src="./img/3_maestro.svg" alt="maestro" />
      <img class="footer__provider" src="./img/4_webmoney.svg" alt="webmoney" />
      <img class="footer__provider" src="./img/5_ecopayz.svg" alt="ecopayz" />
      <img class="footer__provider" src="./img/6_bitcoin.svg" alt="bitcoin" />
    </div>
    <div class="footer__column">
      <span data-code="" class="icon-link">
        <svg class="icon-telegram">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
      </span>
      <span data-code="" class="icon-link">
        <svg class="icon-intagram">
          <use href="./sprites/sprite.svg#icon-intagram"></use>
        </svg>
      </span>
      <span data-code="" class="icon-link">
        <svg class="icon-twitter">
          <use href="./sprites/sprite.svg#icon-twitter"></use>
        </svg>
      </span>
    </div>
  </div>
</footer>
