<div class="slider-games__slide games-item" data-code="">
   <img src="./img/item.webp" alt="item image" class="games-item__bg" />
   <div class="games-item__lables">
     <span class="games-item__lable games-item__lable_trending">
       <svg class="icon-trending">
         <use href="./sprites/sprite.svg#icon-trending"></use>
       </svg>
     </span>
     <span class="games-item__lable games-item__lable_new">
       <svg class="icon-new-lable">
         <use href="./sprites/sprite.svg#icon-new-lable"></use>
       </svg>
     </span>
     <span class="games-item__lable games-item__lable_crown">
       <svg class="icon-crown-lable">
         <use href="./sprites/sprite.svg#icon-crown-lable"></use>
       </svg>
     </span>
     <span class="games-item__lable games-item__lable_rm">
       <svg class="icon-rm">
         <use href="./sprites/sprite.svg#icon-rm"></use>
       </svg>
     </span>
     <span class="games-item__lable games-item__lable_top">
       <svg class="icon-top-lable">
         <use href="./sprites/sprite.svg#icon-top-lable"></use>
       </svg>
     </span>
   </div>
   <p class="games-item__name">EVOLUTION GAMING</p>
   <div class="games-item__play">
     <svg class="icon-play">
       <use href="./sprites/sprite.svg#icon-play"></use>
     </svg>
   </div>
   <div class="games-item__bet">
     €
     <span>1.5</span>
     -
     <span>1 000</span>
   </div>
 </div>