<header class="header">
  <div class="header__top">
    <div class="header__actions actions-header">
      <div class="actions-header__left" data-da=".nav-header,1269.98,3">
        <div class="actions-header__item">
          <span class="actions-header__label">завантажити</span>
          <span data-code="" class="actions-header__link dowload-link">
            <svg class="icon-android">
              <use href="./sprites/sprite.svg#icon-android"></use>
            </svg>
          </span>
          <span data-code="" class="actions-header__link dowload-link">
            <svg class="icon-apple">
              <use href="./sprites/sprite.svg#icon-apple"></use>
            </svg>
          </span>
        </div>
        <button class="actions-header__item" type="button">
          <svg class="icon-guard">
            <use href="./sprites/sprite.svg#icon-guard"></use>
          </svg>
          <span class="actions-header__label">обхід блокування</span>
        </button>
      </div>
      <div class="actions-header__items" data-da=".nav-header,991.98,4">
        <button class="actions-header__item actions-header__item_left">
          <svg class="icon-geer">
            <use href="./sprites/sprite.svg#icon-geer"></use>
          </svg>
          <span>ДЕСЯТКОВИЙ</span>
          <svg class="icon-simple-arrow">
            <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
          </svg>
        </button>
        <button class="actions-header__item actions-header__item_center">
          <span>16:33</span>
          <svg class="icon-simple-arrow">
            <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
          </svg>
        </button>
        <button class="actions-header__item actions-header__item_right">
          <span class="flag flag_ua"></span>
          <span>UA</span>
          <svg class="icon-simple-arrow">
            <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
          </svg>
        </button>
      </div>
      <span  href="#" class="actions-header__sale button button_secondary button_small" data-code="" data-da=".nav-header,991.98,last">
        <svg class="icon-present">
          <use href="./sprites/sprite.svg#icon-present"></use>
        </svg>
        <span>АКЦІЇ</span>
      </span>
    </div>
    <div class="header__auth" data-da=".nav-header,459.98,2">
      <a href="#" class="button button_primary">РЕЄСТРАЦІЯ</a>
      <a href="#" class="button button_secondary">ВХІД</a>
    </div>
    <button class="header__menu-icon" type="button">
      <svg class="icon-burger-icon">
        <use href="./sprites/sprite.svg#icon-burger-icon"></use>
      </svg>
    </button>
  </div>
  <div class="header__bottom">
    <a href="#" class="header__logo logo " data-da=".header__top,1269.98,first">
      <img class="header__logo-full" src="./img/logo.svg" alt="logo full" />
      <img class="header__logo-only" src="./img/logo-only.webp" alt="logo" />
    </a>
    <nav class="header__nav nav-header">
      <button class="nav-header__close" type="button">
        <svg class="icon-cross">
          <use href="./sprites/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">СПОРТ</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">LIVE</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">КАЗИНО</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">LIVE CASINO</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">Aviator</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">BONUS BUY</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">КІБЕРСПОРТ</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">POKER</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">TOTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
