<header class="header">
  <div class="header__top">
    <div class="header__actions actions-header">
      <div class="actions-header__left" data-da=".nav-header,1269.98,3">
        <div class="actions-header__item">
          <span class="actions-header__label">завантажити</span>
          <span data-code="" class="actions-header__link icon-link">
            <svg class="icon-android">
              <use href="./sprites/sprite.svg#icon-android"></use>
            </svg>
          </span>
          <span data-code="" class="actions-header__link icon-link">
            <svg class="icon-apple">
              <use href="./sprites/sprite.svg#icon-apple"></use>
            </svg>
          </span>
        </div>
        <button class="actions-header__item" type="button">
          <svg class="icon-guard">
            <use href="./sprites/sprite.svg#icon-guard"></use>
          </svg>
          <span class="actions-header__label">обхід блокування</span>
        </button>
      </div>
      <div class="actions-header__items" data-da=".nav-header,991.98,4">
        <div class="item-actions">
          <button class="item-actions__button actions-header__item actions-header__item_left" data-spoiler>
            <svg class="icon-geer">
              <use href="./sprites/sprite.svg#icon-geer"></use>
            </svg>
            <span>ДЕСЯТКОВИЙ</span>
            <svg class="icon-simple-arrow">
              <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
            </svg>
          </button>
          <div class="item-actions__drop-down">
            <ul class="item-actions__list">
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">Десятковий</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">Англійский</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">Американський</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">Індонезійський</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-actions">
          <button class="item-actions__button actions-header__item actions-header__item_center" data-spoiler>
            <span>16:33</span>
            <svg class="icon-simple-arrow">
              <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
            </svg>
          </button>
          <div class="item-actions__drop-down">
            <ul class="item-actions__list">
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+001</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+002</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+003</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+004</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="item-actions">
          <button class="item-actions__button actions-header__item actions-header__item_right" data-spoiler="">
            <span class="flag flag_ua"></span>
            <span>UA</span>
            <svg class="icon-simple-arrow">
              <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
            </svg>
          </button>
          <div class="item-actions__drop-down">
            <ul class="item-actions__list">
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+001</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+002</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+003</span>
              </li>
              <li class="item-actions__item">
                <span class="item-actions__var" type="button">+004</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <span
        class="actions-header__sale button button_secondary button_small"
        data-code=""
        data-da=".nav-header,991.98,5">
        <svg class="icon-present">
          <use href="./sprites/sprite.svg#icon-present"></use>
        </svg>
        <span>АКЦІЇ</span>
      </span>
    </div>
    <div class="header__auth" data-da=".nav-header,459.98,2">
      <span class="button button_primary" data-code="">РЕЄСТРАЦІЯ</span>
      <span class="button button_secondary" data-code="">ВХІД</span>
    </div>
    <button class="header__menu-icon" type="button" aria-label="мобільне меню">
      <svg class="icon-burger-icon">
        <use href="./sprites/sprite.svg#icon-burger-icon"></use>
      </svg>
    </button>
  </div>
  <div class="header__bottom">
    <a href="#" class="header__logo logo" data-da=".header__top,1269.98,first">
      <img class="header__logo-full" src="./img/logo.svg" alt="logo full" />
      <img class="header__logo-only" src="./img/logo-only.webp" alt="logo" />
    </a>
    <nav class="header__nav nav-header">
      <button class="nav-header__close" type="button">
        <svg class="icon-cross">
          <use href="./sprites/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">СПОРТ</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">LIVE</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">КАЗИНО</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">LIVE CASINO</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">Aviator</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">BONUS BUY</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">КІБЕРСПОРТ</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">POKER</span>
        </li>
        <li class="nav-header__item">
          <span class="nav-header__link" data-code="">TOTO</span>
        </li>
      </ul>
    </nav>
  </div>
</header>
