<header class="header">
  <div class="header__top">
    <div class="header__actions actions-header">
      <div class="actions-header__item">
        <span class="actions-header__label">завантажити</span>
        <a href="" class="actions-header__link">
          <svg class="icon-android">
            <use href="./sprites/sprite.svg#icon-android"></use>
          </svg>
        </a>
        <a href="" class="actions-header__link">
          <svg class="icon-apple">
            <use href="./sprites/sprite.svg#icon-apple"></use>
          </svg>
        </a>
      </div>
      <button class="actions-header__item" type="button">
        <svg class="icon-guard">
          <use href="./sprites/sprite.svg#icon-guard"></use>
        </svg>
        <span class="actions-header__label">обхід блокування</span>
      </button>
      <div class="actions-header__items">
        <button class="actions-header__item actions-header__item_left">
          <svg class="icon-geer">
            <use href="./sprites/sprite.svg#icon-geer"></use>
          </svg>
          <span>ДЕСЯТКОВИЙ</span>
          <svg class="icon-simple-arrow">
            <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
          </svg>
        </button>
        <button class="actions-header__item actions-header__item_center">
          <span>16:33</span>
          <svg class="icon-simple-arrow">
            <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
          </svg>
        </button>
        <button class="actions-header__item actions-header__item_right">
          <span class="flag flag_ua"></span>
          <span>UA</span>
          <svg class="icon-simple-arrow">
            <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
          </svg>
        </button>
      </div>
      <a href="#" class="button button_secondary button_small">
        <svg class="icon-present">
          <use href="./sprites/sprite.svg#icon-present"></use>
        </svg>
        <span>АКЦІЇ</span>
      </a>
    </div>
    <div class="header__auth">
      <a href="#" class="button button_primary">РЕЄСТРАЦІЯ</a>
      <a href="#" class="button button_secondary">ВХІД</a>
    </div>
  </div>
  <div class="header__bottom">
    <a href="#" class="header__logo">
      <img src="./img/logo.svg" alt="logo" />
    </a>
    <nav class="header__nav nav-header">
      <ul class="nav-header__list">
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">СПОРТ</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">LIVE</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">КАЗИНО</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">LIVE CASINO</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">Aviator</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">BONUS BUY</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">КІБЕРСПОРТ</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">POKER</a>
        </li>
        <li class="nav-header__item">
          <a href="#" class="nav-header__link">TOTO</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
