<section class="hero">
   <div class="hero__slider slider-hero">
     <div class="slider-hero__wrapper">
       <div class="slider-hero__slide slide-hero">
         <span class="_imw">
           <img class="slide-hero__image" src="./img/hero-slide1.webp" alt="hero-slide1" />
         </span>
       </div>
       <div class="slider-hero__slide slide-hero">
         <span class="_imw">
           <img class="slide-hero__image" src="./img/hero-slide2.webp" alt="hero-slide2" />
         </span>
       </div>
       <div class="slider-hero__slide slide-hero">
         <span class="_imw">
           <img class="slide-hero__image" src="./img/hero-slide3.webp" alt="hero-slide3" />
         </span>
       </div>
     </div>
     <div class="slider-hero__pagination"></div>
   </div>
 </section>