<article class="news-card">
  <img @@src alt="news1" class="news-card__image" />
  <div class="news-card__content">
    <p class="news-card__title">Lorem, ipsum dolor sit amet consectetur!</p>
    <p class="news-card__text">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae a molestiae unde saepe ipsa labore nulla iure non
      architecto! Vel veniam eveniet, beatae animi sunt architecto incidunt neque nobis dolores? Lorem, ipsum dolor sit
    </p>
    <span class="news-card__button button button_primary" data-code="">Перейти</span>
  </div>
</article>
