<aside class="sidebar">
  <div class="sidebar__inner">
    <div class="sidebar__top">
      <div class="sidebar__header header-sidebar">
        <div class="header-sidebar__inner">
          <div class="header-sidebar__title">Стартовий бонус 250FS +</div>
          <div class="header-sidebar__price">9000 UAH</div>
          <span class="header-sidebar__button button button_primary" data-code="">Отримати</span>
        </div>
      </div>
      <ul class="sidebar__list" data-da=".sidebar-row,991.98,1">
        <li class="sidebar__item sidebar-item">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-fire-popular'>
              <use href='./sprites/sprite.svg#icon-fire-popular'></use>
            </svg>
            <span class="sidebar-item__text">популярні</span>
          </span>
        </li>
        <li class="sidebar__item sidebar-item">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-new-nav'>
              <use href='./sprites/sprite.svg#icon-new-nav'></use>
            </svg>
            <span class="sidebar-item__text">нові</span>
          </span>
        </li>
        <li class="sidebar__item sidebar-item">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-favorite'>
              <use href='./sprites/sprite.svg#icon-favorite'></use>
            </svg>
            <span class="sidebar-item__text">вибране</span>
          </span>
        </li>
      </ul>
      <form class="sidebar-search" data-da=".sort,991.98,last">
        <div class="sidebar-search__inner">
          <button class="sidebar-search__go" type="submit">
            <svg class="icon-search">
              <use href="./sprites/sprite.svg#icon-search"></use>
            </svg>
          </button>
          <input class="sidebar-search__input" placeholder="пошук..." />
          <button class="sidebar-search__remove" type="button">
            <svg class="icon-cross">
              <use href="./sprites/sprite.svg#icon-cross"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
    <div class="sidebar__bottom">
      <ul class="sidebar__list sidebar__list_bottom" data-da=".sidebar-row,991.98,2">
        <li class="sidebar__item sidebar-item">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-slots'>
              <use href='./sprites/sprite.svg#icon-slots'></use>
            </svg>
            <span class="sidebar-item__text">слоти</span>
          </span>
        </li>
        <li class="sidebar__item sidebar-item">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-spin'>
              <use href='./sprites/sprite.svg#icon-spin'></use>
            </svg>
            <span class="sidebar-item__text">рулетка</span>
          </span>
        </li>
        <li class="sidebar__item sidebar-item">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-lotery'>
              <use href='./sprites/sprite.svg#icon-lotery'></use>
            </svg>
            <span class="sidebar-item__text">лотереї</span>
          </span>
        </li>
        <li class="sidebar__item sidebar-item sidebar-item_muted">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-vr'>
              <use href='./sprites/sprite.svg#icon-vr'></use>
            </svg>
            <span class="sidebar-item__text">віртуальний спорт</span>
          </span>
        </li>
        <li class="sidebar__item sidebar-item sidebar-item_muted">
          <span class="sidebar-item__link" data-code="">
            <svg class='sidebar-item__icon icon-fast'>
              <use href='./sprites/sprite.svg#icon-fast'></use>
            </svg>
            <span class="sidebar-item__text">fast games</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</aside>
