<aside class="sidebar sidebar_sport">
  <div class="sidebar__inner">
    <div class="sidebar__top">
      <ul class="sidebar__list" data-da=".sidebar-row,991.98,1">
        <li class="sidebar__item">
          <div class="sidebar__link sidebar__link_active">
            <svg class="icon-house">
              <use href="./sprites/sprite.svg#icon-house"></use>
            </svg>
            <span>Головна</span>
          </div>
        </li>
        <li class="sidebar__item">
          <div class="sidebar__link" data-spoiler>
            <svg class="icon-clock">
              <use href="./sprites/sprite.svg#icon-clock"></use>
            </svg>
            <span>найближчі</span>
            <span class="sidebar__current-time">2г</span>
            <svg class="icon-simple-arrow">
              <use href="./sprites/sprite.svg#icon-simple-arrow"></use>
            </svg>
          </div>
          <div class="sidebar__drop-down drop-down-sidebar">
            <span class="drop-down-sidebar__item" data-code="">1г</span>
            <span class="drop-down-sidebar__item _active" data-code="">2г</span>
            <span class="drop-down-sidebar__item" data-code="">4г</span>
            <span class="drop-down-sidebar__item" data-code="">6г</span>
            <span class="drop-down-sidebar__item" data-code="">12г</span>
          </div>
        </li>
      </ul>
    </div>
    <div class="sidebar__bottom">
      <ul class="sidebar__list sidebar__list_bottom" data-da=".sidebar-row,991.98,2">
        <li class="sidebar__item">
          <span class="sidebar__link " data-code="" data-spoiler>
            <svg class="icon-football">
              <use href="./sprites/sprite.svg#icon-football"></use>
            </svg>
            <span class="_active">футбол</span></span
          >
          <ul class="sidebar__list sidebar__list_sub">
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-global">
                  <use href="./sprites/sprite.svg#icon-global"></use>
                </svg>
                <span class="sidebar__sub-item">Чемпионат мира</span>
                <span class="sidebar__count">32</span>
              </span>
            </li>
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-ua">
                  <use href="./sprites/sprite.svg#icon-ua"></use>
                </svg>
                <span class="sidebar__sub-item">Україна</span>
                <span class="sidebar__count">12</span>
              </span>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-tenis">
              <use href="./sprites/sprite.svg#icon-tenis"></use>
            </svg>
            <span>теніс</span></span
          >
          <ul class="sidebar__list sidebar__list_sub">
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-global">
                  <use href="./sprites/sprite.svg#icon-global"></use>
                </svg>
                <span class="sidebar__sub-item">Чемпионат мира</span>
                <span class="sidebar__count">32</span>
              </span>
            </li>
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-ua">
                  <use href="./sprites/sprite.svg#icon-ua"></use>
                </svg>
                <span class="sidebar__sub-item">Україна</span>
                <span class="sidebar__count">12</span>
              </span>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-hockey">
              <use href="./sprites/sprite.svg#icon-hockey"></use>
            </svg>
            <span>хокей</span></span
          >
          <ul class="sidebar__list sidebar__list_sub">
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-global">
                  <use href="./sprites/sprite.svg#icon-global"></use>
                </svg>
                <span class="sidebar__sub-item">Чемпионат мира</span>
                <span class="sidebar__count">32</span>
              </span>
            </li>
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-ua">
                  <use href="./sprites/sprite.svg#icon-ua"></use>
                </svg>
                <span class="sidebar__sub-item">Україна</span>
                <span class="sidebar__count">12</span>
              </span>
            </li>
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-global">
                  <use href="./sprites/sprite.svg#icon-global"></use>
                </svg>
                <span class="sidebar__sub-item">Чемпионат мира</span>
                <span class="sidebar__count">32</span>
              </span>
            </li>
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-ua">
                  <use href="./sprites/sprite.svg#icon-ua"></use>
                </svg>
                <span class="sidebar__sub-item">Україна</span>
                <span class="sidebar__count">12</span>
              </span>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-bascket">
              <use href="./sprites/sprite.svg#icon-bascket"></use>
            </svg>
            <span>баскетбол</span></span
          >
          <ul class="sidebar__list sidebar__list_sub">
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-global">
                  <use href="./sprites/sprite.svg#icon-global"></use>
                </svg>
                <span class="sidebar__sub-item">Чемпионат мира</span>
                <span class="sidebar__count">32</span>
              </span>
            </li>
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-ua">
                  <use href="./sprites/sprite.svg#icon-ua"></use>
                </svg>
                <span class="sidebar__sub-item">Україна</span>
                <span class="sidebar__count">12</span>
              </span>
            </li>
            <li class="sidebar__item sidebar__item_sub">
              <span class="sidebar__link" data-code="">
                <svg class="icon-global">
                  <use href="./sprites/sprite.svg#icon-global"></use>
                </svg>
                <span class="sidebar__sub-item">Чемпионат мира</span>
                <span class="sidebar__count">32</span>
              </span>
            </li>
          </ul>
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-t-bascket">
              <use href="./sprites/sprite.svg#icon-t-bascket"></use>
            </svg>
            <span>t-basket</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-t-kick">
              <use href="./sprites/sprite.svg#icon-t-kick"></use>
            </svg>
            <span>t-kick</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-walleyball">
              <use href="./sprites/sprite.svg#icon-walleyball"></use>
            </svg>
            <span>волейбол</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-gand">
              <use href="./sprites/sprite.svg#icon-gand"></use>
            </svg>
            <span>гандбол</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-table-tennis">
              <use href="./sprites/sprite.svg#icon-table-tennis"></use>
            </svg>
            <span>настільний теніс</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-fist">
              <use href="./sprites/sprite.svg#icon-fist"></use>
            </svg>
            <span>єдиноборства</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-box">
              <use href="./sprites/sprite.svg#icon-box"></use>
            </svg>
            <span>бокс</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-kricket">
              <use href="./sprites/sprite.svg#icon-kricket"></use>
            </svg>
            <span>крикет</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-american-football">
              <use href="./sprites/sprite.svg#icon-american-football"></use>
            </svg>
            <span>американський футбол</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-baseball">
              <use href="./sprites/sprite.svg#icon-baseball"></use>
            </svg>
            <span>бейсбол</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-regbi">
              <use href="./sprites/sprite.svg#icon-regbi"></use>
            </svg>
            <span>регбі</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-formula-1">
              <use href="./sprites/sprite.svg#icon-formula-1"></use>
            </svg>
            <span>формула1</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-foothall">
              <use href="./sprites/sprite.svg#icon-foothall"></use>
            </svg>
            <span>футзал</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-af-footbal">
              <use href="./sprites/sprite.svg#icon-af-footbal"></use>
            </svg>
            <span>австралійський футбол</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              version="1.1"
              id="Layer_1"
              x="0"
              y="0"
              viewBox="0 0 24 24"
              xml:space="preserve">
              <style>
                .basket_3x3_st0 {
                  fill: #f79311;
                }
                .basket_3x3_st1 {
                  fill: #2a2d30;
                }
              </style>
              <path class="basket_3x3_st0" d="M12 1c6.1 0 11 4.9 11 11s-4.9 11-11 11S1 18.1 1 12 5.9 1 12 1z" />
              <path
                class="basket_3x3_st1"
                d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.6 0 12 0zM4 6c1.1 1.4 1.8 3.1 2 5H2.1c.1-1.9.8-3.6 1.9-5zm1.9 7c-.2 1.9-.9 3.6-2 5-1.1-1.4-1.8-3.1-1.9-5h3.9zm5.1 8.9c-2.2-.2-4.1-1.1-5.6-2.5 1.4-1.8 2.4-4 2.6-6.5h3v9zM11 11H8c-.3-2.4-1.2-4.7-2.6-6.5C6.9 3.2 8.8 2.3 11 2.1V11zm9-5c1.1 1.4 1.8 3.1 1.9 5H18c.2-1.9.9-3.6 2-5zm-7-3.9c2.2.2 4.1 1.1 5.6 2.5-1.4 1.8-2.4 4-2.6 6.5h-3v-9zM13 13h3c.2 2.4 1.1 4.7 2.6 6.5-1.5 1.4-3.5 2.3-5.6 2.5v-9zm7 5c-1.1-1.4-1.8-3.1-2-5h3.9c-.1 1.9-.8 3.6-1.9 5z" />
              <path class="basket_3x3_st1" d="M1.8 5.8h20.4v12.4H1.8z" />
              <path
                d="M8.1 10.9c0 .5-.4.9-.9 1 .5.1.9.5.9 1v1.6c0 1.3-.7 2-2 2H4.4c-1.3 0-2-.7-2-2V14c0-.2.1-.3.3-.3H4c.2 0 .3.1.3.3v.6H6c.2 0 .3-.1.3-.3v-1c0-.4-.2-.6-.6-.6H4c-.2 0-.3-.1-.3-.3v-1.3s.1-.1.3-.1h1.7c.4 0 .6-.2.6-.5v-1c0-.2-.1-.3-.3-.3H4.4v.6c0 .2-.1.3-.3.3H2.8c-.2 0-.3-.1-.3-.3v-.7c0-1.2.7-1.8 2-1.8h1.6c1.3 0 2 .7 2 2v1.6zm13.4 0c0 .5-.4.9-.9 1 .5.1.9.5.9 1v1.6c0 1.3-.7 2-2 2h-1.6c-1.3 0-2-.7-2-2V14c0-.2.1-.3.3-.3h1.3c.2 0 .3.1.3.3v.6h1.6c.2 0 .3-.1.3-.3v-1c0-.4-.2-.6-.6-.6h-1.7c-.2 0-.3-.1-.3-.3v-1.3c0-.2.1-.3.3-.3h1.7c.4 0 .6-.2.6-.5v-1c0-.2-.1-.3-.3-.3h-1.6v.6c0 .2-.1.3-.3.3h-1.3c-.2 0-.3-.1-.3-.3v-.5c0-1.2.7-1.8 2-1.8h1.6c1.3 0 2 .7 2 2v1.6z"
                fill="#fff" />
              <path
                class="basket_3x3_st0"
                d="M15.2 16.2c.1.2 0 .3-.2.3h-1.4c-.2 0-.3-.1-.3-.2L12 13.9l-1.3 2.4c-.1.1-.2.2-.3.2H8.8c-.2 0-.3-.1-.2-.3l2.2-4.4-2.2-4.2c-.1-.2 0-.3.2-.3h1.4c.2 0 .3.1.3.2l1.3 2.3 1.3-2.3c.1-.1.2-.2.3-.2h1.4c.2 0 .3.1.2.3l-2 4.2 2.2 4.4z" />
            </svg>
            <span>баскетбол 3х3</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-biliadrd">
              <use href="./sprites/sprite.svg#icon-biliadrd"></use>
            </svg>
            <span>більярд</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-chess">
              <use href="./sprites/sprite.svg#icon-chess"></use>
            </svg>
            <span>шахмати</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-darts">
              <use href="./sprites/sprite.svg#icon-darts"></use>
            </svg>
            <span>дартс</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-helsk-football">
              <use href="./sprites/sprite.svg#icon-helsk-football"></use>
            </svg>
            <span>гельский футбол</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-herling">
              <use href="./sprites/sprite.svg#icon-herling"></use>
            </svg>
            <span>хьорлінг</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-pessapallo">
              <use href="./sprites/sprite.svg#icon-pessapallo"></use>
            </svg>
            <span>песапалло</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-watter-polo">
              <use href="./sprites/sprite.svg#icon-watter-polo"></use>
            </svg>
            <span>водне поло</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-cs">
              <use href="./sprites/sprite.svg#icon-cs"></use>
            </svg>
            <span>counter-strike</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-dota">
              <use href="./sprites/sprite.svg#icon-dota"></use>
            </svg>
            <span>dota 2</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-lol">
              <use href="./sprites/sprite.svg#icon-lol"></use>
            </svg>
            <span>league of legends</span></span
          >
        </li>
        <li class="sidebar__item">
          <span class="sidebar__link" data-code="" data-spoiler>
            <svg class="icon-valorant">
              <use href="./sprites/sprite.svg#icon-valorant"></use>
            </svg>
            <span>valorant</span></span
          >
        </li>
      </ul>
    </div>
  </div>
</aside>
