@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/navigation/navigation.scss';
@import '../../node_modules/swiper/modules/autoplay/autoplay.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';

/* prettier-ignore */
@import "fonts",
        "normalize";
/* prettier-ignore */
@import "./utils/variables",
        "./utils/mixins",
        "./ui/buttons",
        "./ui/sprites";
/* prettier-ignore */
@import "./partials/games-item",
        "./partials/sort",
        "./partials/header",
        "./partials/sidebar",
        "./partials/sliders",
        "./partials/footer";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  &._lock {
    overflow: hidden;
  }
}

.main {
  padding-top: 130px;
  @media (max-width: ($lg-md)) {
    padding-top: 90px;
  }
  @media (max-width: ($sm)) {
    padding-top: 80px;
  }
  @media (max-width: ($sm2)) {
    padding-top: 65px;
  }
}

.container {
  margin: 0 auto;
  max-width: 100%;
  &_left {
    padding-right: 15px;
    padding-left: 280px;
    @media (max-width: ($md)) {
      padding-left: 15px;
    }
  }
}

._imw {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Only screen readers + google */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  background: #002347;
  main {
    flex: 1 1 auto;
  }
}

svg {
  width: 20px;
  height: 20px;
}

/*
  single
*/
.main-title {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.main-text {
  color: #fff;
  text-align: center;
}
