/* Import lib styles  */
@import '../../node_modules/swiper/swiper.scss';
@import '../../node_modules/swiper/modules/navigation/navigation.scss';
@import '../../node_modules/swiper/modules/autoplay/autoplay.scss';
@import '../../node_modules/swiper/modules/pagination/pagination.scss';
// @import '../../node_modules/swiper/modules/scrollbar/scrollbar.scss';
// @import '../../node_modules/nouislider/dist/nouislider.min';
// @import '../../node_modules/aos/src/sass/aos.scss';
// @import '../../node_modules/choices.js/src/styles/choices.scss';
// "./lib/tips";

/* prettier-ignore */
@import "./utils/functions",
        "./utils/variables",
        "./utils/mixins",
        "./ui/buttons",
        "./ui/games-item",
        "./ui/sort",
        "./ui/sprites";
/* prettier-ignore */
@import "fonts",
        "normalize";

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  &._lock {
    overflow: hidden;
  }
}

.main {
  padding-top: 110px;
  @media (max-width: ($lg-md)) {
    padding-top: 70px;
  }
  @media (max-width: ($sm)) {
    padding-top: 43px;
  }
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 280px;
  max-width: 100%;
  @media (max-width: ($md)) {
    padding-left: 15px;
  }
}

._imw {
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Only screen readers + google */
.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  background: #002347;

  main {
    flex: 1 1 auto;
  }
}

svg {
  width: 20px;
  height: 20px;
}

// >> - - - - - - - - - - - - - [current project styles] - - - - - - - - - - - - - - - - -

.header {
  background-color: #0a519e;
  background-image: linear-gradient(to top, #00326600 0, #003266 73%, #003266 98%);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  min-height: 120px;
  @media (max-width: ($lg-md)) {
    min-height: 90px;
  }
  @media (max-width: ($sm)) {
    min-height: 60px;
  }
  padding: 15px 20px;
  &__top {
    display: flex;
    justify-content: space-between;
    @media (min-width: ($lg-md)) {
      margin-bottom: 20px;
    }
    gap: 25px;
    align-items: center;
    @media (max-width: ($lg-md)) {
      justify-content: start;
    }
  }
  &__auth {
    display: flex;
    gap: 10px 20px;
    @media (max-width: ($lg)) {
      margin-left: auto;
    }
    @media (max-width: ($sm)) {
      margin: 0;
    }
    @media (max-width: ($sm2)) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  &__logo {
    @media (max-width: ($sm)) {
      margin-right: auto;
    }
    @media (max-width: ($sm2)) {
      max-width: 200px;
    }
  }
  &__logo-full {
    width: 100%;
    display: block;
    @media (max-width: $lg-md), (max-width: $sm) {
      display: none;
    }

    @media (max-width: $lg), (max-width: $sm2) {
      display: block;
    }
  }
  &__logo-only {
    display: none;
    @media (max-width: $lg-md), (max-width: $sm) {
      display: block;
    }
    @media (max-width: $lg), (max-width: $sm2) {
      display: none;
    }
  }

  &__menu-icon {
    display: none;
    // margin-left: auto;
    @media (max-width: ($lg)) {
      display: block;
    }
    @media (max-width: ($sm2)) {
      margin-left: auto;
    }
    svg {
      width: 30px;
      height: 30px;
      color: #fff;
    }
  }
}
.actions-header {
  display: flex;
  gap: 20px;
  &__left {
    display: flex;
    gap: 20px;

    @media (max-width: ($lg-md)) {
      margin-top: 20px;
      flex-direction: column;
      align-items: center;
      gap: 2px;
    }
  }
  &__items {
    display: flex;
    gap: 2px;
    @media (max-width: ($md)) {
      flex-direction: column;
    }
  }
  &__item {
    align-items: center;
    background-color: #054588;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    padding: 0 10px;
    height: 40px;
    gap: 10px;
    width: 100%;
    color: #fff;
    font-size: 14px;
    @media (max-width: ($md)) {
      justify-content: center;
      width: 100%;
    }
    &_left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      @media (max-width: ($md)) {
        border-radius: 20px;
      }
    }
    &_center {
      border-radius: 0;
      @media (max-width: ($md)) {
        border-radius: 20px;
      }
    }
    &_right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @media (max-width: ($md)) {
        border-radius: 20px;
      }
    }
  }
  &__sale {
    margin: 0 auto;
  }
  &__label {
    text-transform: uppercase;
  }
}
.nav-header {
  width: 100%;
  background-color: #00316680;
  border-radius: 20px;
  overflow-y: auto;
  position: relative;
  @media (max-width: ($lg)) {
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #003266;
    width: 320px;
    padding: 25px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    &._active {
      opacity: 1;
      visibility: visible;
      @media (min-width: ($md)) {
        top: 70px;
      }
    }
  }
  @media (max-width: ($md)) {
    height: 100vh;
    top: 0;
    right: 0;
    border-radius: 0;

  }
  &__close {
    position: absolute;
    left: 20px;
    top: 20px;
    display: block;
    @media (min-width: ($md)) {
      display: none;
    }
    .icon-cross {
      fill: #fff;
    }
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: ($lg)) {
      flex-direction: column;
    }
  }

  &__link {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 500;
    justify-content: center;
    line-height: 1.15;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: color 0.3s ease;
    white-space: nowrap;
  }
}
.flag {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: block;
  &_ua {
    background-image: url('https://front.cdn-mb.com/spa-static/1.4.1216/static/media/ua.2dd397cb920452449aca.svg');
  }
}

.dowload-link {
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.5;
      transition: all 0.3s ease;
    }
  }
}

/*
  sidebar
*/

.sidebar {
  position: fixed;
  left: 0;
  z-index: 99;
  height: 100%;
  padding: 20px 20px 0 20px;
  width: 280px;
  transition: all 0.3s ease;
  @include scroll('#263c58d2');
  @media (max-width: ($md)) {
    top: 90px;
    left: -30px;
    opacity: 0;
    visibility: hidden;
    &._active {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
  }
  &__close {
    @media (min-width: ($md)) {
      display: none;
    }
    position: absolute;
    right: -15px;
    top: 5px;
    .icon-cross {
      fill: #fff;
      width: 27px;
      height: 27px;
    }
  }
  &__inner {
    overflow-y: auto;
    padding-bottom: 130px;
    height: 100%;
  }

  &__top {
    align-items: center;
    margin-bottom: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    background-image: linear-gradient(180deg, #003266 90%, #00326600);
  }
  &__list {
    border-radius: 15px;
    margin-bottom: 10px;
    &_bottom {
      background: #fff;
      .sidebar__link {
        border-bottom: 2px solid #e8ecf1;

        span {
          color: #000;
        }
        svg {
          fill: #9ea7b2;
        }
      }
    }
  }
  &__link {
    cursor: pointer;
    border-bottom: 2px solid #043e7d;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 7px;
    svg {
      fill: #1183d3;
      width: 40px;
      height: 40px;
    }
    span {
      font-size: 16px;
      font-weight: 500;
      line-height: 60px;
      max-width: 160px;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
      white-space: nowrap;
      text-transform: uppercase;
      color: #fff;
      transition: all 0.3s ease;

      @media (any-hover: hover) {
        &:hover {
          color: #1181d0;
        }
      }
    }
    &_active > span {
      color: #ffba00;
    }
  }
}
.sidebar-search {
  height: 40px;
  padding: 0 15px;
  &__inner {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid #0d4177;
    border-radius: 20px;
    position: relative;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    svg {
      fill: #1181d0;
    }
  }
  &__go {
  }
  &__input {
    width: 100%;
    background: transparent;
    &::placeholder {
      text-transform: uppercase;
      color: #1181d0;
      opacity: 0.8;
    }
  }
  &__remove {
    display: none;
  }
}
.header-sidebar {
  align-items: center;
  background-image: linear-gradient(180deg, #003266 90%, #00326600);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  padding-top: 20px;
  position: relative;
  &__inner {
    background-image: url('https://front.cdn-mb.com/spa-static/1.4.1216/static/media/double_lines.67368afa1f6aa9d0c695.svg');
    background-position: 50% 0;
    background-repeat: no-repeat;
    padding: 15px 20px 5px;
    text-align: center;
    width: 100%;
    position: relative;
    &::after {
      background-image: url('https://front.cdn-mb.com/spa-static/1.4.1216/static/media/crown.bec1cca93d2b82a94e14.svg');
      background-repeat: no-repeat;
      background-size: contain;
      content: '';
      display: block;
      height: 59px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: -35px;
      width: 87px;
    }
  }
  &__title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-top: 12px;
    padding: 0 12px;
    text-transform: uppercase;
  }
  &__price {
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffba00;
    font-size: 30px;
    font-weight: 700;
    margin-top: 5px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__button {
    margin: 0 auto;
  }
}

/*
  hero
*/

.hero {
  // padding-left: 280px;
  &__slider {
  }
}
.slider-hero {
  width: 100%;
  padding: 20px 0;
  margin-bottom: 30px;
  @media (max-width: ($lg)) {
    height: 300px;
  }
  &__wrapper {
    display: flex;
    height: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    .swiper-pagination-bullet {
      width: 14px;
      height: 14px;
      border: 2px solid #428cdc;
      background: transparent;
      transition: all 0.3s ease;
      &.swiper-pagination-bullet-active {
        background-color: #fff;
        border: 2px solid transparent;
      }
    }
  }
}

.slide-hero {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  &__image {
  }
}

/*
  games
*/

.group-games {
  margin-bottom: 20px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  &__title {
    display: flex;
    align-items: center;
    gap: 0 10px;
    svg {
      width: 44px;
      height: 50px;
    }
    span {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.3;
      text-transform: uppercase;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
}

.slider-games {
  width: 100%;
  overflow: hidden;

  &__nav {
    display: flex;
    gap: 0 10px;
  }

  &__wrapper {
    display: flex;
    // height: 100%;
    height: 178px;
  }
  &__slide {
    flex-shrink: 0;
  }
}

/*
  footer
*/

.footer {
  margin-left: 280px;
  background: #003266;
  border-top-left-radius: 15px;
  padding: 20px 20px 40px 20px;
  @media (max-width: ($md)) {
    margin-left: 15px;
    margin-right: 15px;
    border-top-right-radius: 15px;
  }
  &__top {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__age-limit {
    align-items: center;
    border: 2px solid #09437f;
    border-radius: 50%;
    color: #1183d3;
    display: flex;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    width: 40px;
  }
  &__nav {
    margin-bottom: 25px;
  }
  &__list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__item {
  }
  &__link {
    cursor: pointer;
    align-items: center;
    color: #1183d3;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    transition: color 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: #4294cf;
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  &__column {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 10px;
    background-color: #04386e;
    border-radius: 16px;
    padding: 0 20px;
    &_providers {
      flex: 1 1 auto;
    }
  }
  &__label {
    color: #fff;
    font-weight: 500;
    padding: 10px 5px;
    text-transform: uppercase;
  }
  &__provider {
    height: 27px;
  }
}
